@import url('https://fonts.googleapis.com/css?family=Great Vibes:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7;
    overflow: hidden
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sectors-title,
.sectors-title-white,
.sectors-title-follow {
    margin-top: 30px;
    margin-left: 50px;
}

.sectors-title,
.sectors-title-white,
.sectors-title-follow,
h1 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sectors-title-white h1 {
    color: #eeeaea;
}

/* -----------------------------------
    SIDEBAR 
    code model by : https://www.youtube.com/watch?v=IOOtDmh-NZw                              
-------------------------------------- */

#content {
	transition: margin-left 0.4s;
    overflow: hidden;
	}

.slide {
    position: fixed;
    z-index: 998;
    margin-top: 3px;
}
.slide a {
	color: rgb(46, 41, 41);
    font-size: 36px;
    padding: 0 0 0 5px;
    margin-top: 5px;
    margin-left: 12px;
}
.navigation .close {
	position: absolute;
	top: 8px;
    right: 22px;
    line-height: 1.3;
	font-size: 30px;
	color: #ccc;
}
.navigation {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #282828;
	overflow-x: hidden;
	padding-top: 45px;
	transition: 0.4s;
}

.navigation a.item {
	display: flex;
	flex-direction: row;
    padding: 18px 30px;
    font-size: 30px;
	text-decoration: none;
	color: #ccc;
	background-color: #3d3d3d;
	border-top: 1px solid #ccc;
}
.navigation .last {
	border-bottom: 1px solid #ccc;
}
.navigation a.item:hover {
	color: #fff;
	background-color: #700000;
	transition: 0.4s;
}
.navigation .icon {
    padding: 9px 10px 0 0;
	}

/* -----------------------------------
    HEADER - MOBILE
-------------------------------------- */

.main-header {
    background-image: url(../images/st-main-mobile.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    overflow-y: auto;
}


.header-name {
    display: flex;
    height: 95%;
    flex-direction: column-reverse;
    margin: 1vh 0 0 0;
    padding: 0;

}

.header-name h1 {
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 2.4rem;
    border-radius: 5px;
    font-weight: 400;
    text-shadow: 2px 2px 5px #000;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
    text-align: center;

}

/* -----------------------------------
    SOCIAL MEDIA TOP-RIGHT
-------------------------------------- */

.media-links-top {
    padding: 16px;
    margin: 0;
    position: relative;
    text-align: right;

}

.social-links {
    margin: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #443b3b;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #700000;

}


/* -----------------------------------
    MUSIC - MOBILE DISPLAY
-------------------------------------- */

.music-main {
    background-image: url(../images/bg-music-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.music-players-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-bottom: 6vh;
}

.apple-music {
    padding: 6vh 0 1vh 0;
}

.spotify,
.youtube-music,
.amazon-music {
    padding: 4vh 0 1vh 0;
    margin: 0;
}

img.players {
    max-width: 100%;
    filter: grayscale(1);
    transition: 0.5s ease-in-out;

}

img.players:hover {
    filter: grayscale(0);
    transition: 0.3s ease-in-out;
}

/* -----------------------------------
    VIDEOS - MOBILE DISPLAY
-------------------------------------- */

.videos-main {
    padding: 0 0 5vh 0;
    background-color: #000;
    background-repeat: no-repeat;
    overflow-y: none;
}

.embed-video-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5vh;
}

.carousel-videos {
    padding: 0;
    margin: 0;
    z-index: 0;
}

.box-thumbs-videos {
    background-color: #000;
    position: relative;
    padding: 0;
    margin: 0 1px;
}

.video-youtube:hover .figure-youtube {
    -webkit-filter: brightness(120%);
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-delay: .2s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: 1s;
    -ms-animation-delay: .2s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    -o-animation-duration: 1s;
    -o-animation-delay: .2s;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.figure-youtube {
    margin: 0;
}

.owl-stage {
    overflow: hidden;
}

.owl-dot :active {
    text-decoration: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #970707;
    text-decoration: none;

}


/* -----------------------------------
    PHOTOS - MOBILE DISPLAY
-------------------------------------- */

.photos-main {
    background-color: #fafafa;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

/* code model by https://codepen.io/sdthornton/pen/wBZdXq */
.gallery-thumb {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
}

.gallery,
.gallery-left,
img {
    width: 100%;
    height: 100%;
}

.gallery-left {
    padding-right: 7px;
    padding-bottom: 3px;
}

.gallery {
    padding-left: 7px;
    padding-bottom: 3px;
}

/* -----------------------------------
    FOLLOW - MOBILE DISPLAY
-------------------------------------- */

.follow-main {
    height: auto;
    background-image: url(../images/bg-follow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4vh;
    overflow: hidden;
}

.subscribe-box {
    justify-content: center;
    padding: 10px 0 10px 0;

}

.form-group {
    margin-bottom: 5px;
}

.form-container {
    background-color: rgba(80, 80, 80, 0.6);
    color: #fafafa;
    border-radius: 20px;
}

.news {
    margin: 5px 8px 5px 8px;
}

.follow-social-media h5 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fafafa;
    padding: 0;
}

.button-follow {
    margin: 0 8px 0 8px;
}

.social-links-follow {
    padding: 0;
    margin: 0;
}

.social-links-follow li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    color: #fafafa;
    background: #443b3b;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links-follow li a i:hover {
    background: #700000;

}

/* -----------------------------------
    FOOTER - MOBILE DISPLAY
-------------------------------------- */

.footer-main {
    height: 23vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 10px 0 10px 0;
}

.steven-logo {
    height: 70px;
    width: 55px;
    background-image: url("../images/steventylerlogo.png");
    background-repeat: no-repeat;
    margin: 0 auto 5px auto;
}

.copyright {
    color: #fafafa;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    overflow: hidden;
}



/* -----------------------------------
    MEDIA QUERY
-------------------------------------- */

@media (min-width: 568px) {
    /* I have changed this media query to 568px to fit mobile displays with 568px in landscape mode (Iphone 5/SE)  */

    /* ----- HEADER MD DISPLAY SIZE-------- */
    .main-header {
        background-image: url(../images/st-main-large.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        overflow-y: auto;
    }

    .header-name {
        display: flex;
        position: absolute;
        flex-direction: row;
        height: 80%;
        margin-left: 2.5vw;
    }

    .main-header .container {
        padding-top: 13px;
        margin: 10vh 0 0 2.5vw;
        padding-top: 3vh;
    }

    .header-name h1 {
        color: rgba(53, 53, 53);
        background-color: unset;
        text-shadow: 1px 1px 3px #351f1f;
        font-size: 2rem;
    }

    /* ----- MUSIC MD DISPLAY SIZE-------- */
    .music-main {
        background-image: url(../images/bg-music-xlg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .music-players-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
    }

    .music-players {
        margin-left: 13vh;
        padding: 4vh 0 6vh 0;
    }

    /* ----- FOLLOW MD DISPLAY SIZE-------- */
    .follow-main {
        background-image: url(../images/bg-follow-lg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .subscribe-box {
        justify-content: flex-end;
        padding-right: 35px; 
        
    }

    .form-container h5 {
        font-size: 1rem;
    }

    .sectors-title-follow h1 {
        color: #eeeaea;
    }

    .social-links-follow li a i {
        font-size: 24px;
        height: 40px;
        width: 40px;
    }

    .follow-social-media h5 {
        font-size: 0.8rem;
        color: #000;
    }

    /* ----- FOOTER MD DISPLAY SIZE-------- */
    .copyright {
        font-size: 0.8rem;
    }

    .footer-main {
        height: 40vh;
    }
}

@media (max-width: 567px) {

    /* ----- RIGHT TOP SOCIAL MEDIA ICONS NO DISPLAY IN SMALL DISPLAYS-------- */
    .right-top-header {
        display: none;
    }
}


@media(min-width: 768px) {

    /* Header */
    .header-name h1 {
        font-size: 2.6rem;
    }

    .navbar {
        padding: 0 10px;
        margin-top: 15px;
        margin-left: 15px;
        position: fixed;

    }

    /* Music */

    .music-players-column {
        margin-bottom: 3vh;
    }

    .music-players {
        margin-left: 10vh;
    }

    /* Photos */
    .gallery-left,
    .gallery {
        padding: 0 15px 3px 15px;
    }

    /* Follow */
    .follow-social-media h5 {
        font-size: 1rem;
    }

    .social-links-follow li a i {
        font-size: 30px;
        height: 52px;
        width: 52px;
    }

}

@media (min-width: 1328px) {

    /* Header */
    .main-header {
        height: 100vh;
        width: 100vw;
        background-image: url(../images/st-main-xlarge.jpg);
        background-size: cover;
    }

    .header-name .container {
        margin: 10vh 0 0 3.5vw;
        padding-top: 10vh;
    }

    .header-name h1 {
        text-align: left;
        font-size: 4.5rem;
        margin-bottom: 0;
    }

    /* Music */
    .music-players {
        margin-left: 20vh;
        padding: 4vh 0 6vh 0;
    }

    /* Video */

    .embed-video-player {
        padding-top: 2.5vh;
    }

    /* Follow */
    .follow-main {
        height: 90vh;
    }

    .form-container h5 {
        font-size: 1.4rem;
    }

    .follow-social-media h5 {
        font-size: 1.4rem;
    }

    .social-links-follow li a i {
        font-size: 50px;
        height: 80px;
        width: 80px;
    }

    /* Footer */
    .footer-main {
        height: 23vh;
    }

    .steven-logo {
        height: 100px;
        width: 79px;
        background-image: url("../images/steventylerlogo-lg.png");
        margin-top: 5px;
    }

    .copyright {
        font-size: 1.1rem;
    }
}